<footer>
    <div>
        <p>Una biblioteca de música es una herramienta valiosa que ofrece comodidad, diversidad, personalización, preservación de recuerdos, beneficios para la salud y bienestar, y fortalece las conexiones sociales. En resumen, tener una biblioteca de música enriquece la experiencia musical y la vida cotidiana de manera significativa.</p>
        <ul id="contenedor-redes">
            <li class="redes">
                <a href="https://github.com/">
                    <img src="../../assets/img/github.png">
                </a>
            </li>
            <li class="redes">
                <a href="https://www.gmail.com/">
                    <img src="../../assets/img/gmail.png">
                </a>
            </li>
            <li class="redes">
                <a href="https://www.facebook.com/">
                    <img src="../../assets/img/social.png">
                </a>
            </li>
            <li class="redes">
                <a href="https://x.com/">
                    <img src="../../assets/img/twitter.png">
                </a>
            </li>
        </ul>
    </div>
    <div>
        <p>2024 Todos los Derechos Reservados</p>
    </div>
</footer>
