.gradient-border{
    background:linear-gradient(100deg,#b16cea ,#ff5e69 ,#ff8a56 );
    background-repeat: repeat;
    padding:.5rem;
    width:max-content;
    border-radius: 1em;
    animation:gradient 10s linear infinite;
    color: #fff;
}

.box{
    background-color: black;
    padding: 1em;
    width: max-content;
    display: grid;
    place-items: center;
    border-radius:1em;
}