.container-album{
    width: 90%;
    padding: 90px;
}
.container-album h1{
    font-size: var(--font-size-titulo);
    font-weight: 600;
}
.container-album ul{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    gap: 40px;
    list-style: none;
    padding: 0px;
}
.container-card{
display: flex;
flex-direction: column;
background-color: #323232;
padding: 9px;
transition: 1s;
}
.container-card span{
    color: var(--ter-color);
    padding: 4px 0px;
    font-size: var(--font-size-2);
    letter-spacing: 0.4px;
}
.container-card:hover{
    transform: scale(1.04);
    }