
<div class="container-album">
    <h1>Álbum Populares</h1>
    <ul>
        @if(listaAlbum.length>0){
            @for(album of listaAlbum;track album.id){
                <li>
                    <div class="container-card">
                        <img [src]="album.album.images[0].url">
                      
                        <span >Foto: {{album.album.images[0].url}}</span>
                        <span >Nombre Album: {{album.album.name}}</span>
                        <span >Fecha Salida Album: {{album.album.release_date}}</span>
                        <span >Total Canciones ALBUM: {{album.album.total_tracks}}</span>

                        <span>Nombre Artista: {{album.artists[0].name}} </span>



                        <span >Nombre Cancion: {{album.name}}</span>
                        <span >Numero de cancion en Album: {{album.track_number}}</span>
                        
                    </div>
                </li>
             }
        }
      
    </ul>

</div>
