#contenedor-articulo{
    display: flex;
    align-items: center;
    background-color: #EC453C ;
}

#contenedor-articulo img{
    display: block;
    width: 100%;
}
#contenedor-articulo div{
    width: 50%;
    margin: 50px;
}
#contenedor-articulo h3{
  color: #e77738;
  font-weight: 800;
  font-size: 40px;
}
#contenedor-articulo p{
    color: #EBE9C0;
}

@media only screen and (max-width: 1024px) {

    #contenedor-articulo{
        flex-direction:column;
       
    }
    #contenedor-articulo div{
        width: 90%;
        margin: 20px 30px;
    }
 
}