<div id="contenedor-articulo">
    <div>
        <img src="../../../assets/img/seccion1.jpg">
    </div>
    <div>
        <h3>Nosotros</h3>
        <p>La música es una forma de arte universal que desempeña un papel crucial en la vida humana y la sociedad. Su capacidad para influir en las emociones, conectar a las personas, reflejar la identidad cultural, estimular el cerebro, mejorar la salud y bienestar, inspirar la creatividad y contribuir a la economía, la convierte en una parte indispensable de nuestra existencia.</p>
    </div>
</div>