<div class="navbar vw-100 navbar-expand-sm ">
    <app-logo/>
    <div class="container-fluid" >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0  fw-bold fs-3 font-monospace mx-auto w-50">
            <li class="nav-item mx-auto ">
                    <a class="nav-link text-decoration-none " routerLink="home">HOME</a>
            </li>
           <li class="nav-item mx-auto ">
               <a class="nav-link text-decoration-none"  routerLink="genres">GENRES</a>
           </li>
            
           <li class="nav-item mx-auto">
               <a class="nav-link text-decoration-none" routerLink="popular">POPULAR</a>
           </li>
           <li class="nav-item mx-auto">
               <a class="nav-link text-decoration-none" routerLink="myList">MY LIST</a>
           </li>
            
        </ul>
    </div>
    @if(isLogged){
        <div class="user-container">
            <h5 class="text-white">{{username}}</h5>
            <img class=" rounded-circle" src="https://github.com/{{username}}.png" alt="github-img">
            <button type="button" class="btn btn-danger w-25" style="width: 5%;margin:.5em;" (click)="userlogged()">LogOut</button>
        </div>
    }@else{
        <div class="user-container">
            <button type="button" class="btn btn-success w-25" style="width: 5%;margin: .5em;" (click)="userlogged()">Log In</button>
        </div>
        }
</div>
@if(isActivateForm){
    <app-login-form (sendUsernameEvent)="getUsername($event)" (sendStateFormEvent)="getStateForm($event)"></app-login-form>
}



