 
<div class="container-cancion">
    
    @if(albumSeleccionado){
    <div class="album-header"  >

        <div class="cover">
            <img  [src]="albumSeleccionado.image"  >
        </div>
        <div class="content-text" >
          <div class="small-text">Album</div>
          <h1>{{albumSeleccionado.nombre}}</h1>
          <h5 class="small-text">Fecha: {{albumSeleccionado.fecha}}<span class="count-tracks">Total Tracks: {{albumSeleccionado.total}}</span> </h5>
       </div>
     
    
    </div>
    } 

  <div class="album-body">
    <ul class="album-table-header" >
        <li>Canciones </li>
        <li>Artista </li>
        <li>Duración</li>
        
    </ul>
    @for(c of albumSeleccionado.cancion;track c.name){
      <ul class="album-rows" (click)="playCancion(c)" >
         
        <li class="track-name" >
          <div class="cover-section"  >
              <img  class="cover-track" [src]="c.artistaImagen" [alt]="c.nombre">
              <div class="cover-info">
                <div class="name-track">{{c.nombre}}</div>
              </div>
              <div class="container-play">
                  <button> <i class="fa-solid fa-play"></i></button>
              </div>
          </div>
      </li>
        <li class="text-opacity">
            {{albumSeleccionado.artista.nombre}}
        </li>
        <li class="text-opacity">
          {{c.tiempo}}
        </li>
    </ul>
    }
   
  </div>
  
</div>

