<div class="side-bar"> 
    <div id="container-logo">
        <img src="../../../assets/img/music-box-logo-alt.png">
    </div>
    <ul class="side-bar-list">
        @for(listaMenu of menuPrincipal;track listaMenu.name){
            <li [routerLink]="listaMenu.router" >
                <div class="container-li">
                    <i [ngClass]="['fa-solid',listaMenu.icon]"></i>
                    <span class="side-bar-list list-span">{{listaMenu.name}}</span>
                </div>
            </li>
        }
       
    </ul>
    <div class="side-bar-separator"></div>
    <ul class="side-bar-list "> 
     @if(this.controlBoton){
      <!--
          <li>
            <div class="container-li ">
                <span class="side-bar-list list-span titulo">Mis Playlist</span>
            </div>
        </li>
        @for(listaRecomendados of listaRecomendados;track listaRecomendados.nombre){
            <li [routerLink]="'/playlist'" >
                <div class="container-li ">
                    <span class="side-bar-list list-span">-{{listaRecomendados.nombre}}</span>
                </div>
            </li>
        }
        -->
     }
      
    </ul>
    @if(this.controlBoton){
        <div class="container-logo">
            <button [routerLink]="'/login'" (click)="salirSesion()" >Salir Sesión</button>
        </div>
    }
    @else {
        <div class="container-logo">
            <button [routerLink]="'/login'">Iniciar Sesión</button>
            
        </div>
    }
    
    
</div>
