.side-bar{
    width: 15.5rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: .5rem 1rem;
    background-color: var(--four-color);
}
#container-logo{
    width: 60%;
    padding: 10px 0px;
    cursor: pointer;
}
#container-logo img{
    width: 100%;
}
.side-bar-list{
    list-style:none;
    padding:0;
    margin: 0;
    padding: 0.5rem;
}
.side-bar-list .list-span{
    font-weight: 400;
    letter-spacing: 1.2px;
}
.side-bar-list .container-li{
    display: flex;
    align-items: center; 
    font-size: var(--font-size-1);
}
 
.side-bar-separator{
    margin: 1rem 0; 
    border-bottom:solid 1px var(--ter-color);
}
 
.side-bar-list li{
    cursor: pointer;
}
.container-logo{
    width: 90%;
    background-color: var(--ter-color);
}
.container-logo img{
    width: 100%;
}
.container-logo button{
    width: 100%;
    background-color: transparent;
    border: 0;
    color: var(--four-color);
    transition: 1s;
}
.container-logo button:hover{
 
    color: var(--primary-color);
}
@media (max-width: 1250px) {
    .side-bar-list .container-li{
        font-size: var(--font-size);
        display: flex;
        align-items: center; 
    }
    .side-bar{
        width: 12.5rem; 
        padding: .5rem 1rem; 
    }
}