<footer class="container-fluid bg-black-tune" style="background: #151613; color: #fff;">
   <div class="container-fluid footer-box">

   <div class="container cont-1">
      <app-logo/>
      <p class="paragraph-footer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe tempore est possimus mollitia magnam doloribus minus nesciunt, assumenda libero fugiat veritatis sit architecto labore sequi, illum ea laborum delectus laudantium.</p>
   </div>

   <div class="container cont-2">
      <div class="list-box container">
         <ul class="list">
            <li>
               <a routerLink="">Home</a>
            </li>
            <li>
               <a routerLink="">Genres</a>
            </li>
            <li>
               <a routerLink="">Popular</a>
            </li>
            <li>
               <a routerlink="">My List</a>
            </li>
            <li>
               <a routerLink="">About</a>
            </li>
         </ul>
      </div>
      <div class="logos-link container">
         <ul class="logo-link-ul">
            <li>
               <img src="../../assets/github.png" alt="">
            </li>
            <li>
               <img src="../../assets/gmail.png" alt="">
            </li>
            <li>
               <img src="../../assets/social.png" alt="">
            </li>
            <li>
               <img src="../../assets/twitter.png" alt="">
            </li>
         </ul>
      </div>
   </div>
</div>
   <div class="register-web container text-center">
      <p>2024 Todos los Derechos Reservados</p>
   </div>
</footer>