section{
    position: absolute;
    color: #fff;
    top: 25%;
    left: 33.6%;
   
}
.popup-login{
    position: absolute;
    width: max-content;
    height: max-content;
    padding: .5em;
    background:linear-gradient(45deg,#b16cea,#ff5e69,#ff8a56,#ffa84b);
    border-radius:1em ;
    
}

.login-container{
    background:#151613;
}
