
#container-reproductor{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
    height: 85px;
    border-top: solid 1px var( --primary-color);
    box-shadow: 0px -15px 15px 7px #0000002e;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.reproductor:nth-child(1){
    width: 200px

}
 
.reproductor:nth-child(2){
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    position: relative;
}
.reproductor:nth-child(3){
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-1);
    padding-right: 1rem;
    line-height: 22px;
}
 

.container-button {
display: flex;
justify-content: center;
align-self: center;
gap: .5rem;
}
 
.button{
    background-color: transparent;
    border: 0;
    color: var(--four-color);
    transition: 1s;
   padding: 1.5rem;
    font-size: 1.65rem;
}
.button:hover{
    opacity: .7;
}
@media (max-width: 1250px) {
    
#container-reproductor{

    height: 55px;
    padding: 10px;
    display: flex;
}
.button{ 
    font-size: 1.15rem;
    padding: 5px;
}
.reproductor:nth-child(1){
    font-size: var(--font-size);
    line-height: 1.2rem;
}
}


.cover-section {
    display: flex;
    padding: 0; 
    align-items: center;
}

.cover-section .cover-track img {
    width: 55px;
    height: 55px;
    object-fit: cover;
}

.cover-section .cover-info {
    padding: 0 1rem;
    font-size: var(--font-size-1);
    line-height: 22px;
}