<div id="container-reproductor">
    <div class="reproductor">
        <span>Nombre Usuario: Test</span>
          <span>Email: testgmail.com</span>
    </div>
    <div class="reproductor">
        <div class="container-button">
            <button class="button">
                <i class="fa-solid fa-arrow-left"></i>
            </button>
            <button  class="button">
                <i class="fa-solid fa-play"></i>

            </button>
            <button class="button">
                <i class="fa-solid fa-arrow-right"></i>
            </button>
        </div>
    </div>
    <div class="reproductor">
        
    </div>

</div>
