<div id="contenedor-inicio">
    <div>
        <span>Sobre nosotros</span>
        <h3>VAMOS DESPACIO PARA ENCONTRARNOS</h3>
    </div>
    <div id="card">
        <div class="inicio-flex">
            <div>
                <img src="../../assets/img/corazon.png">
                
            </div>
            <p>Nuestra pasión</p>
            <span>Amamos la música tanto como su enseñanza y valores</span>
          
        </div>
        <div class="inicio-flex">
            <div>
                <img src="../../assets/img/musica.png">
                
            </div>
            <p>Novedades</p>
            <span>Muestra las últimas canciones, álbumes y artistas añadidos</span>
             
         </div>
        <div class="inicio-flex">
            <div>
                <img src="../../assets/img/nina.png">
                
            </div>
            <p>Recomendaciones</p>
            <span> Basadas en popularidad o en preferencias de usuario.</span>
        </div>
    </div>
</div>
<app-articulos></app-articulos>
<div id="contenedor-inicio2">
    <h3>Elígenos</h3>
    <div> 
        <p>Tener una biblioteca de música es crucial ya que proporciona acceso fácil y organizado a una vasta colección de canciones y álbumes, permitiendo explorar y descubrir nuevos géneros y artistas. Además, una biblioteca musical personalizada enriquece la experiencia auditiva, evoca recuerdos, y ofrece beneficios terapéuticos, mejorando el bienestar emocional y fomentando conexiones sociales a través del intercambio de música. En resumen, una biblioteca de música es una fuente invaluable de cultura, entretenimiento y bienestar personal. </p>

    </div>
</div>